
.franja-iconos-container {
  background-color: #37B4A3;
  padding: 40px 20px;
  text-align: center;
  color: white;
}

.carrusel-header {
  margin-bottom: 20px;
}

.carrusel-title-button {
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  color: #37B4A3;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carrusel-title-button span {
  margin-left: 8px;
}

.main-title {
  margin-bottom: 30px;
}

.main-title h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.main-title h3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  margin-bottom: 20px;
}

/* Estilos por defecto para móviles */
.iconos-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.icono-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px; /* Ancho aumentado para pantallas pequeñas */
  margin: 10px;
}

.icono {
  font-size: 4.5rem; /* Tamaño de ícono aumentado */
  margin-bottom: 0;
}

.icono-item h4 {
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 1.3rem; /* Tamaño de fuente aumentado */
}

.icono-item p {
  font-size: 1rem; /* Tamaño de fuente aumentado */
  margin: 0;
}

/* Media Query para Tablets y Escritorios (a partir de 768px) */
@media (min-width: 768px) {
  .iconos-wrapper {
    flex-wrap: nowrap;
    gap: 20px;
  }

  .icono-item {
    max-width: 180px;
  }

  .icono {
    font-size: 3rem;
  }

  .icono-item h4 {
    font-size: 1rem;
    margin-top: 5px;
  }

  .icono-item p {
    font-size: 0.8rem;
  }
}

/* Media Query para Escritorios Grandes (a partir de 992px) */
@media (min-width: 992px) {
  .iconos-wrapper {
    gap: 80px;
  }

  .icono-item {
    margin: 20px 40px;
    max-width: 220px;
  }

  .icono {
    font-size: 4rem;
  }

  .icono-item h4 {
    font-size: 1.2rem;
  }

  .icono-item p {
    font-size: 0.9rem;
  }
}
