
.franja-iconos-container {
  background-color: #37B4A3;
  padding: 40px 20px;
  text-align: center;
  color: white;
}

.carrusel-header {
  margin-bottom: 20px;
}

.carrusel-title-button {
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  color: #37B4A3;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carrusel-title-button span {
  margin-left: 8px;
}



.main-title h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.main-title h3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

.iconos-wrapper {
  display: flex;
  justify-content: center; /* Centramos los iconos por defecto */
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px; /* Añadimos un espacio entre los items */
}

.icono-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 220px; /* Aumentamos un poco el ancho máximo */
  margin: 10px;
}

.icono {
  font-size: 4rem;
  margin-bottom: -10px;
}

.icono-item h4 {
  font-weight: bold;
  margin-bottom: 1px;
  font-size: 1.2rem;
}

.icono-item p {
  font-size: 0.9rem;
  margin: 0;
}

/* Media query para pantallas más grandes */
@media (min-width: 992px) {
  .iconos-wrapper {
    justify-content: center;
    gap: 80px; /* Aumentamos el espacio entre los iconos en pantallas grandes */
  }
 
  .icono-item {
    margin: 20px 40px;
  }
}
