 .Pagina-imagen img {
    height: 500px;
    width: 100%;
}

.titulo {
    background-color: #ffffff;
}

.texto {
    background-color: #ffffff;
    padding: 0px 300px;
    margin: 20px;
    font-size: 16px;
    text-align: center;   
}

.titulo {
    color: #2CB7A6;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    width: 100%;
}

.subtitulo {
    font-size: 2rem;
    color: #2CB7A6;
    line-height: 1.5;
    flex-grow: 1;
    text-align: center;
    margin: 0;
}
h1{
    margin: 20px 0px 0px;
}
.boton {
    /* 游꿛 Color y Forma */
    background-color: #2CB7A6;
    color: #ffffff; /* Mueve el color del texto aqu칤 */
    border-radius: 15px; /* Aumentamos el radio para esas esquinas m치s curvas */
    border: none;
    cursor: pointer;
    
    /* 游늺 Dimensiones y Centrado */
    /* El padding (relleno) define el tama침o del bot칩n alrededor del texto */
    padding: 5px 10px; 
    margin: 0px;
    /* El display: inline-block asegura que el bot칩n solo ocupe el espacio necesario */
    display: inline-block; 
   
    /* 丘뙖잺 Tipograf칤a */
    font-size: 16px; /* Aumentamos el tama침o para que se vea como en la imagen */
    font-weight: bold; /* Usamos font-weight en lugar de font-style: bold */
    text-transform: uppercase; /* Para que el texto est칠 en may칰sculas */
    text-align: center;
    text-decoration: none; /* 칔til si es un enlace <a> */
}
.boton:hover{
    background-color: #1c7c71;
}
.boton:focus {
    outline: none;
    background-color: #1c7c71;
}

@media (max-width: 360px) {
    .titulo {
        justify-content: center;
    }
}

@media  (max-width: 1360px) {
    .Pagina-imagen img {
        height: 500px;
    }
    .subtitulo {
        font-size: 1.5rem;
    }
.boton{
    padding: 5px 10px; 
    margin: 0px;
    /* El display: inline-block asegura que el bot칩n solo ocupe el espacio necesario */
    display: inline-block; 
    justify-content: center;
}
    .texto {
        font-size: 14px;
        margin: 4px 0px 4px 0px;
        padding: 0px 40px;
        text-align: justify;
    }

    .titulo {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo strong {
        display: contents;
    }
}

@media  (max-width: 768px) {
    .Pagina-imagen img {
        height: 300px;
    }

    .subtitulo {
        font-size: 1.5rem;
    }

    .texto {
        font-size: 14px;
        margin: 4px 0px 4px 0px;
        padding: 0px 20px;
    }

    .titulo {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo strong {
        display: contents;
    }

    .imagen-escritorio {
        display: none; /* Oculta la imagen de escritorio */
    }

    .imagen-movil {
        display: block; /* Muestra la imagen de m칩vil */
        max-width: 100%;
        height: auto;
    }
    
    
}
.imagen-movil {
    display: none; /* Oculta la imagen de m칩vil por defecto */
}

.imagen-escritorio {
    display: block; /* Muestra la imagen de escritorio por defecto */
    max-width: 100%;
    height: auto;
}
@media  (max-width: 480px){
    .imagen-escritorio {
        display: none; /* Oculta la imagen de escritorio */
    }

    .imagen-movil {
        display: block; /* Muestra la imagen de m칩vil */
        max-width: 100%;
        height: auto;
    }
}
