.Pagina-imagen img {
    height: 750px;
    width: 100%;
}

.titulo {
    background-color: #ffffff;
}

.texto {
    background-color: #ffffff;
    padding: 0px 300px;
    margin: 20px;
    font-size: 16px;
    text-align: center;
    
}

.titulo {
    color: #2CB7A6;
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
    text-align: center;
    margin-bottom: 0;
}

.subtitulo {
    font-size: 2rem;
    color: #2CB7A6;
    line-height: 1.5;
    flex-grow: 1;
    text-align: center;
    margin: 0;
}
h1{
    margin: 20px 0px 0px;

}
.boton {
    /* 游꿛 Color y Forma */
    background-color: #2CB7A6;
    color: #ffffff; /* Mueve el color del texto aqu칤 */
    border-radius: 15px; /* Aumentamos el radio para esas esquinas m치s curvas */
    border: none;
    cursor: pointer;
    
    /* 游늺 Dimensiones y Centrado */
    /* El padding (relleno) define el tama침o del bot칩n alrededor del texto */
    padding: 5px 10px; 
    margin: 0px;
    /* El display: inline-block asegura que el bot칩n solo ocupe el espacio necesario */
    display: inline-block; 
   
    /* 丘뙖잺 Tipograf칤a */
    font-size: 16px; /* Aumentamos el tama침o para que se vea como en la imagen */
    font-weight: bold; /* Usamos font-weight en lugar de font-style: bold */
    text-transform: uppercase; /* Para que el texto est칠 en may칰sculas */
    text-align: center;
    text-decoration: none; /* 칔til si es un enlace <a> */
}
.boton:hover{
    background-color: #1c7c71;
}
.boton:focus {
    outline: none;
    background-color: #1c7c71;
}